<!DOCTYPE html>
<html>
    <head>
        <style>
            .photo{
                height: 60%;
                width: 40%;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 50px;
            }
        </style>

    </head>
    <body style="background-color:white;">
        <div>
            <span>
                <img src="/static/bad_req.jpg" class="photo">
            </span>
        </div>
        
    </body>
</html>